<h1 class="remove-bottom">{{action}} a field <small>{{doc.name}}</small></h1>
<hr>

    <form class="form-horizontal">
        <steps>
            <step>
                <h2>Step 1 of 6: General Field Site Details</h2>
                <label>
                  <span class="required">* </span><strong>Locate and Mark Your Field:</strong>
                </label>

                <coll options="data.counties" ng-model="$root.county">Zoom to:
                </coll>
                <map  ng-model="doc.fieldGeometry" zoom-to-country="$root.county">Locate and Mark Your Field:
                </map>
                <text ng-model="doc.name" req>Field Name:
                </text>
                <coll options="associatedFeedingOperations" ng-model="doc.associatedFeedingOperation" req>Associated Feeding Operation:
                </coll>
                <coll options="data.conservationPractices" ng-model="doc.conservationPractice" req>Conservation Practices
                </coll>
                <radio  items="Yes | No | Unknown" ng-model="doc.tileDrainage" req>Tile Drainage
                </radio>
                <radio  items="Yes | No" ng-model="doc.goodDrainage" req>Does the field have good drainage:
                </radio>
                <radio  items="Own | Rent" ng-model="doc.ownOrRent" req>Own or Rent
                </radio>
            </step>
            <step>
                <h2>Step 2 of 6: Identify Nearest Stream</h2>
                <label>
                  <span class="required">* </span><strong>Mark the Nearest Stream:</strong>
                </label>
                <map  ng-model="doc.nearestStreamGeometry" zoom-to="doc.fieldGeometry[0]" label='Stream'>Mark the Nearest Stream:
                </map>
                <div id="draw-path-tutorial" align="center" style="border: 1px solid rgb(204, 204, 204); padding: 5px; display: block;">
                  <strong>How to draw a line:</strong><br>
                  <img src="/assets/map-tutorial-animation.gif" style="margin-left:15px;">
                </div>
            </step>
            <step>
                <h2>Step 3 of 6: Identify and Label Vegetative Buffers</h2>
                <map  ng-model="doc.buffers" zoom-to="doc.fieldGeometry[0]" label='Buffer'>Locate and Mark Vegetative Buffers:
                </map>

                <div ng-repeat="buffer in doc.buffers">
                    <a href="" ng-click="doc.buffers.splice($index, 1)">delete</a>
                    <text ng-model="buffer.bufferName">Buffer Name:
                    </text>
                    <text ng-model="buffer.bufferWidth">Buffer Width:
                    </text>
                    <coll options="data.vegetations" ng-model="buffer.vegetation">Vegetation:
                    </coll>
                    <coll options="data.positions" ng-model="buffer.position">Position:
                    </coll>
                </div>
            </step>
            <step>
              <h2>Step 4 of 6: Field Management Practices</h2>
              <accordion close-others="true">
                <accordion-group ng-repeat="plan in doc.plans" heading="Plan year {{$index + 1}}">
                  <coll options="data.years" ng-model="plan.year">Year:
                  </coll>
                  <coll options="data.crops" ng-model="plan.crop">Crop:
                  </coll>
                  <text ng-model="plan.optimalYield">Optimal Yield:
                  </text>
                  <coll options="data.plantingMethods" ng-model="plan.plantingMethod">Planting Method:
                  </coll>
                  <date ng-model="plan.plantingDate">Planting Date:
                  </date>
                  <coll options="data.harvestMethods" ng-model="plan.harvestMethod">Harvest Method:
                  </coll>
                  <date ng-model="plan.harvestDate">Harvest Date:
                  </date>

                  <div>
                      <accordion close-others="true">
                      <accordion-group heading="Manure Application">
                          <coll options="data.methodOfApplications" ng-model="plan.manure.methodOfApplication">Method of Application:
                          </coll>
                          <date ng-model="plan.manure.applicationDate">Application Date:
                          </date>
                          <text ng-model="plan.manure.optimalYield">Planned Rate:
                          </text>
                          <text ng-model="plan.manure.optimalYield">Application Loss Factor:
                          </text>
                          <text ng-model="plan.manure.sprayIrrigation">Spray Irrigation:
                          </text>
                        </accordion-group>
                        <accordion-group heading="Tillage">
                          <coll options="data.methodOfTillage" ng-model="plan.tillage.methodOfTillage">Method of Tillage:
                          </coll>
                          <date ng-model="plan.tillage.operationDate">Operation Date:
                          </date>
                        </accordion-group>
                        <accordion-group heading="Commercial Fertilizer">
                          <coll options="data.fertilizerType" ng-model="plan.commercial.fertilizerType">Fertilizer Type:
                          </coll>
                          <text ng-model="plan.commercial.applicationRate">Application Rate:
                          </text>
                          <coll options="data.commercialMethodOfApplications" ng-model="plan.commercial.methodOfApplication">Method of Application:
                          </coll>
                          <date ng-model="plan.commercial.applicationDate">Application Date:
                          </date>
                        </accordion-group>
                        <accordion-group heading="Herbicide">
                          <coll options="data.herbicideType" ng-model="plan.herbicide.herbicideType">Herbicide Type:
                          </coll>
                          <text ng-model="plan.herbicide.applicationRate">Application Rate:
                          </text>
                          <coll options="data.herbicideMethodOfApplication" ng-model="plan.herbicide.methodOfApplication">Method of Application:
                          </coll>
                          <date ng-model="plan.herbicide.applicationDate">Application Date:
                          </date>
                        </accordion-group>
                      </accordion>
                  </div>
                </accordion-group>
              </accordion>
            </step>

            <step>
              <coll options="data.phosphorusTestFactor" ng-model="plan.year">Phosphorus Test Factor:
              </coll>
              <text ng-model="plan.pTestResult">P Test Result:
              </text>
            </step>

            <div class="form-actions">
                <prev>Prev</prev>
                <next>Save and Continue</next>
            </div>
        </steps>
    </form>
