<h1 class="remove-bottom">My Fields</h1>
<hr>


<form id="my_fields" method="post" class="form-horizontal">
    <div class="alert alert-{{message.type}}" ng-show="message.visible">{{message.text}}</div>
    <fieldset>
        <table id="view-field-table" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Feeding Operation</th>
                    <th>Last Update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd" ng-repeat="doc in docs">
                    <td align="left" data-label="Name">{{doc.data.name}}</td>
                    <td align="left" data-label="Feeding Operation">{{doc.feedingOperation}}</td>
                    <td align="left" data-label="Last Update">{{doc.updated_at}}</td>
                    <td align="center" data-label="">
                        <a href="#/fields/edit/{{doc.id}}">edit</a> |
                        <a href="" ng-click="drop($index, doc)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>


