<div id="login">
  <h1><a title="MMP360" href="http://mmp360.com" style="background-image:url(/assets/iowa-mmp-logo.png) !important;background-size:auto !important;height:75px !important;">MMP360</a></h1>
  <div class="form">
    <h1 style="margin:10px 0;">Registration Complete</h1>
    <p class="message">Congratulations! You have completed your registration. You can begin using this site by <a href="/account">logging in</a>.</p>
    </div>
  </div>