<div class="twelve columns alpha">
  <div id="content">
    <h1 class="remove-bottom">Registration Complete</h1>
    <hr>

    <p>Congratulations! You have completed your registration. You can begin using this site by <a href="/account">logging in</a>.</p>
  </div>
</div>
