<h1 class="remove-bottom">{{action}} operation <small>{{doc.name}}</small></h1>
<hr>
<form class="form-horizontal">
    <steps>
      <step>
        <h2>Step 1 of 2: General Details and Contact Information</h2>

        <label>
            <span class="required">* </span><strong>Locate and Mark Your Feeding Operation:</strong>
        </label>
        <coll options="$root.data.counties" ng-model="$root.county">Zoom to:
        </coll>
        <map  ng-model="doc.nearestStreamGeometry" zoom-to-country="$root.county">Locate and Mark Your Feeding Operation:
        </map>

        <div class="green-box">
            <p>Use the map above to navigate to and draw a shape over your feeding operation. If you mess up, you can delete the shape and try again.</p>
        </div>
        <text ng-model="doc.name" req>Name of Operation:
        </text>
        <text ng-model="doc.facilityID" req>Facility ID No.:
        </text>
        <text ng-model="doc.911StreetAddres" req>911 Street Address:
        </text>
        <text ng-model="doc.city" req>City:
        </text>
        <text ng-model="doc.state" readonly="1">State:
        </text>
        <text ng-model="doc.zip" req ng-minlength="5">Zip:
        </text>

        <accordion close-others="oneAtATime">
          <accordion-group heading="Owner Information">
            <text ng-model="doc.ownerInfo.name" type="text">Owner Name:
            </text>
            <text ng-model="doc.ownerInfo.address" type="text">Address:
            </text>
            <text ng-model="doc.ownerInfo.city" type="text">City:
            </text>
            <text ng-model="doc.ownerInfo.state" type="text">State:
            </text>
            <text ng-model="doc.ownerInfo.zip" type="text">Zip:
            </text>
            <text ng-model="doc.ownerInfo.phone" type="text">Phone:
            </text>
            <text ng-model="doc.ownerInfo.email" type="text">Email:
            </text>
          </accordion-group>

          <accordion-group heading="Contact Information">
            <div class="controls">Add if different than owner information above.</div>
            <text ng-model="doc.contactInfo.name" type="text">Contact Name:
            </text>
            <text ng-model="doc.contactInfo.address" type="text">Address:
            </text>
            <text ng-model="doc.contactInfo.city" type="text">City:
            </text>
            <text ng-model="doc.contactInfo.state" type="text">State:
            </text>
            <text ng-model="doc.contactInfo.zip" type="text">Zip:
            </text>
            <text ng-model="doc.contactInfo.phone" type="text">Phone:
            </text>
            <text ng-model="doc.contactInfo.email" type="email">Email:
            </text>
          </accordion-group>

          <accordion-group heading="Contract Company">
            <text ng-model="doc.contractCompany.name" type="text">Company Name:
            </text>
            <text ng-model="doc.contractCompany.address" type="text">Address:
            </text>
            <text ng-model="doc.contractCompany.city" type="text">City:
            </text>
            <text ng-model="doc.contractCompany.state" type="text">State:
            </text>
            <text ng-model="doc.contractCompany.zip" type="text">Zip:
            </text>
            <text ng-model="doc.contractCompany.phone" type="text">Phone:
            </text>
          </accordion-group>
        </accordion>
      </step>

      <step>
        <h2>Step 2 of 3 Feeding and Nutrient Details</h2>
        <accordion>
          <accordion-group heading="Feeding Operation Parameters">
            <coll options="$root.data.operationMMP" ng-model="doc.feedingOperationParameters.MMP">MMP is for
            </coll>
            <date ng-show='$parent.initialConstructionDateShow()' ng-model="doc.feedingOperationParameters.initialConstructionDate">Initial construction date:
            </date>
            <coll options="$root.data.animalTypeAndProductPhase" ng-model="doc.feedingOperationParameters.animalTypeAndProductPhase">Animal Type and Product Phase:
            </coll>
            <text ng-model="doc.feedingOperationParameters.MaxNumberofAnimalsConfined">Max Number of Animals Confined:
            </text>
            <text ng-model="doc.feedingOperationParameters.estimatedAnnualAnimalProduction">Estimated Annual Animal Production:
            </text>
            <coll options="$root.data.manureStorageStructure" ng-model="doc.feedingOperationParameters.manureStorageStructure">Manure Storage Structure:
            </coll>
            <text ng-model="doc.feedingOperationParameters.daysPerYearFacilityIsOccupied">Days Per Year Facility is Occupied:
            </text>
          </accordion-group>

          <accordion-group heading="Manure Nutrient Content">
            <coll options="$root.data.manureNutrientContentUnits" ng-model="doc.manureNutrientContent.units">Units
            </coll>
            <text ng-model="doc.manureNutrientContent.totalN">Total N::
            </text>
            <text ng-model="doc.manureNutrientContent.totalP0">Total P₂0₅:
            </text>

            <accordion>
              <accordion-group heading="%TN Available">
                 <text ng-model="doc.manureNutrientContent.TNAvailable.firstYear">First Year:
                </text>
                <text ng-model="doc.manureNutrientContent.TNAvailable.secondYear">Second Year:
                </text>
                <text ng-model="doc.manureNutrientContent.TNAvailable.thirdYear">Third Year:
                </text>
              </accordion-group>

              <accordion-group heading="Available N">
                <text ng-model="doc.manureNutrientContent.AvailableN.firstYear">First Year:
                </text>
                <text ng-model="doc.manureNutrientContent.AvailableN.secondYear">Second Year:
                </text>
                <text ng-model="doc.manureNutrientContent.AvailableN.thirdYear">Third Year:
                </text>
              </accordion-group>
            </accordion>
          </accordion-group>
        </accordion>
      </step>
  
      <step>
         <h2>Step 3 of 3: Nutrient Reports</h2>
         <text ng-model="doc.sourceOfNutrientData">Source of Nutrient Data:
         </text>
      </step>

      <div class="form-actions">
          <prev>Prev</prev>
          <next>Save and Continue</next>
      </div>
    </steps>
</form>
