<h1 class="remove-bottom">{{action}} operation {{doc.name}}</h1>
<hr>
<h2>Step 1 of 2: General Details and Contact Information</h2>
<form class="form-horizontal">
    <steps>
      <step>
        <map  ng-model="doc.nearestStreamGeometry">Locate and Mark Your Feeding Operation:
        </map>
        <text ng-model="doc.name" type="text" req>Name of Operation:
        </text>
        <text ng-model="doc.facilityID" type="text" req>Facility ID No.:
        </text>
        <text ng-model="doc.911StreetAddres" type="text" req>911 Street Address:
        </text>
        <text ng-model="doc.city" type="text" req>City:
        </text>
        <text ng-model="doc.state" type="text" req>State:
        </text>
        <text ng-model="doc.zip" type="text" req ng-minlength="5">Zip:
        </text>

        <accordion close-others="oneAtATime">
          <accordion-group heading="Owner Information">
            <text ng-model="doc.ownerInfo.name" type="text">Owner Name:
            </text>
            <text ng-model="doc.ownerInfo.address" type="text">Address:
            </text>
            <text ng-model="doc.ownerInfo.city" type="text">City:
            </text>
            <text ng-model="doc.ownerInfo.state" type="text">State:
            </text>
            <text ng-model="doc.ownerInfo.zip" type="text">Zip:
            </text>
            <text ng-model="doc.ownerInfo.phone" type="text">Phone:
            </text>
            <text ng-model="doc.ownerInfo.email" type="text">Email:
            </text>
          </accordion-group>

          <accordion-group heading="Contact Information">
            <div class="controls">Add if different than owner information above.</div>
            <text ng-model="doc.contactInfo.name" type="text">Contact Name:
            </text>
            <text ng-model="doc.contactInfo.address" type="text">Address:
            </text>
            <text ng-model="doc.contactInfo.city" type="text">City:
            </text>
            <text ng-model="doc.contactInfo.state" type="text">State:
            </text>
            <text ng-model="doc.contactInfo.zip" type="text">Zip:
            </text>
            <text ng-model="doc.contactInfo.phone" type="text">Phone:
            </text>
            <text ng-model="doc.contactInfo.email" type="email">Email:
            </text>
          </accordion-group>

          <accordion-group heading="Contract Company">
            <text ng-model="doc.contractCompany.name" type="text">Company Name:
            </text>
            <text ng-model="doc.contractCompany.address" type="text">Address:
            </text>
            <text ng-model="doc.contractCompany.city" type="text">City:
            </text>
            <text ng-model="doc.contractCompany.state" type="text">State:
            </text>
            <text ng-model="doc.contractCompany.zip" type="text">Zip:
            </text>
            <text ng-model="doc.contractCompany.phone" type="text">Phone:
            </text>
          </accordion-group>
        </accordion>
      </step>

      <step>
        <accordion>
          <accordion-group heading="Feeding Operation Parameters">
            <text ng-model="doc.feedingOperationParameters.animalTypeAndProductPhase" type="text">Animal Type and Product Phase:
            </text>
            <text ng-model="doc.feedingOperationParameters.MaxNumberofAnimalsConfined" type="text">Max Number of Animals Confined:
            </text>
            <text ng-model="doc.feedingOperationParameters.estimatedAnnualAnimalProduction" type="text">Estimated Annual Animal Production:
            </text>
            <coll options="years" ng-model="doc.feedingOperationParameters.manureStorageStructure" type="text">Manure Storage Structure:
            </coll>
            <text ng-model="doc.feedingOperationParameters.daysPerYearFacilityIsOccupied" type="text">Days Per Year Facility is Occupied:
            </text>
          </accordion-group>

          <accordion-group heading="Manure Nutrient Content">
            <coll options="" ng-model="doc.manureNutrientContent.units" type="text">Units
            </coll>
            <text ng-model="doc.manureNutrientContent.totalN" type="text">Total N::
            </text>
            <text ng-model="doc.manureNutrientContent.totalP0" type="text">Total P₂0₅:
            </text>

            <accordion>
              <accordion-group heading="%TN Available">
                 <text ng-model="doc.manureNutrientContent.TNAvailable.firstYear" type="text">First Year:
                </text>
                <text ng-model="doc.manureNutrientContent.TNAvailable.secondYear" type="text">Second Year:
                </text>
                <text ng-model="doc.manureNutrientContent.TNAvailable.thirdYear" type="text">Third Year:
                </text>
              </accordion-group>

              <accordion-group heading="Available N">
                <text ng-model="doc.manureNutrientContent.AvailableN.firstYear" type="text">First Year:
                </text>
                <text ng-model="doc.manureNutrientContent.AvailableN.secondYear" type="text">Second Year:
                </text>
                <text ng-model="doc.manureNutrientContent.AvailableN.thirdYear" type="text">Third Year:
                </text>
              </accordion-group>
            </accordion>
          </accordion-group>
        </accordion>
      </step>
  
      <step>
         <text ng-model="doc.sourceOfNutrientData">Source of Nutrient Data:
         </text>
      </step>

      <div class="form-actions">
          <prev>Prev</prev>
          <next>Save and Continue</next>
      </div>
    </steps>
</form>
