<div id="login">
  <h1><a title="MMP360" href="http://mmp360.com" style="background-image:url(/assets/iowa-mmp-logo.png) !important;background-size:auto !important;height:75px !important;">MMP360</a></h1>

  <form method="post" id="loginform" name="loginform" enctype="multipart/form-data" method="POST">
    <p>
    <label for="user_login">Username<br>
      <input type="text" size="20" value="" class="input" id="user_login" name="user[login]"></label>
    </p>
    <p>
    <label for="user_pass">Password<br>
      <input type="password" size="20" value="" class="input" id="user_pass" name="user[password]"></label>
    </p>

    <p class="submit">
    <input type="submit" value="Log In" class="button button-primary button-large" id="wp-submit" name="wp-submit">
    <input type="hidden" value="/edit-field/?field=71821f45-2ee6-4a34-98fc-18a5f9fc7d9f" name="redirect_to">
    <input type="hidden" value="1" name="testcookie">
    </p>
  </form>

  <p id="nav"> <%= link_to "Lost your password?", new_password_path(resource_name) %> </p>

  <p id="backtoblog"><a title="Are you lost?" href="/">← Back to MMP360</a></p>
</div>
