
	form {
		margin: 0 0 5px;
	}
	fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
	}
	legend {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
		border-image: none;
		border-style: none none solid;
		border-width: 0 0 1px;
		color: #333333;
		display: block;
		font-size: 21px;
		line-height: 40px;
		margin-bottom: 20px;
		padding: 0;
		width: 100%;
	}
	legend small {
		color: #999999;
		font-size: 15px;
	}
	label, input, button, select, textarea {
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
	}
	input, button, select, textarea {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	label {
		display: block;
		margin-bottom: 5px;
	}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		border-radius: 4px 4px 4px 4px;
		color: #555555;
		display: inline-block;
		font-size: 14px;
		height: 20px;
		line-height: 20px;
		margin-bottom: 10px;
		padding: 4px 6px;
		vertical-align: middle;
	}
	input, textarea, .uneditable-input {
		width: 206px;
	}
	textarea {
		height: auto;
	}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	}
	textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
		border-color: rgba(82, 168, 236, 0.8);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
		outline: 0 none;
	}
	input[type="radio"], input[type="checkbox"] {
		cursor: pointer;
		line-height: normal;
		margin: 4px 0 0;
	}
	input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
		width: auto;
	}
	select, input[type="file"] {
		height: 30px;
		line-height: 30px;
	}
	select {
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		width: 220px;
	}
	select[multiple], select[size] {
		height: auto;
	}
	select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
		outline: thin dotted #333333;
		outline-offset: -2px;
	}
	.uneditable-input, .uneditable-textarea {
		background-color: #FCFCFC;
		border-color: #CCCCCC;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
		color: #999999;
		cursor: not-allowed;
	}
	.uneditable-input {
		overflow: hidden;
		white-space: nowrap;
	}
	.uneditable-textarea {
		height: auto;
		width: auto;
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
		color: #999999;
	}
	.radio, .checkbox {
		min-height: 20px;
		padding-left: 20px;
	}
	.radio input[type="radio"], .checkbox input[type="checkbox"] {
		float: left;
		margin-left: -20px;
	}
	.controls > .radio:first-child, .controls > .checkbox:first-child {
		padding-top: 5px;
	}
	.radio.inline, .checkbox.inline {
		display: inline-block;
		margin-bottom: 0;
		padding-top: 5px;
		vertical-align: middle;
	}
	.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
		margin-left: 10px;
	}
	.input-mini {
		width: 60px;
	}
	.input-small {
		width: 90px;
	}
	.input-medium {
		width: 150px;
	}
	.input-large {
		width: 210px;
	}
	.input-xlarge {
		width: 270px;
	}
	.input-xxlarge {
		width: 530px;
	}
	input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
		float: none;
		margin-left: 0;
	}
	.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
		display: inline-block;
	}
	input, textarea, .uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12, textarea.span12, .uneditable-input.span12 {
		width: 926px;
	}
	input.span11, textarea.span11, .uneditable-input.span11 {
		width: 846px;
	}
	input.span10, textarea.span10, .uneditable-input.span10 {
		width: 766px;
	}
	input.span9, textarea.span9, .uneditable-input.span9 {
		width: 686px;
	}
	input.span8, textarea.span8, .uneditable-input.span8 {
		width: 606px;
	}
	input.span7, textarea.span7, .uneditable-input.span7 {
		width: 526px;
	}
	input.span6, textarea.span6, .uneditable-input.span6 {
		width: 446px;
	}
	input.span5, textarea.span5, .uneditable-input.span5 {
		width: 366px;
	}
	input.span4, textarea.span4, .uneditable-input.span4 {
		width: 286px;
	}
	input.span3, textarea.span3, .uneditable-input.span3 {
		width: 206px;
	}
	input.span2, textarea.span2, .uneditable-input.span2 {
		width: 126px;
	}
	input.span1, textarea.span1, .uneditable-input.span1 {
		width: 46px;
	}
	.controls-row {
	}
	.controls-row:before, .controls-row:after {
		content: "";
		display: table;
		line-height: 0;
	}
	.controls-row:after {
		clear: both;
	}
	.controls-row [class*="span"], .row-fluid .controls-row [class*="span"] {
		float: left;
	}
	.controls-row .checkbox[class*="span"], .controls-row .radio[class*="span"] {
		padding-top: 5px;
	}
	input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
		background-color: #EEEEEE;
		cursor: not-allowed;
	}
	input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
		background-color: transparent;
	}
	.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
		color: #C09853;
	}
	.control-group.warning .checkbox, .control-group.warning .radio, .control-group.warning input, .control-group.warning select, .control-group.warning textarea {
		color: #C09853;
	}
	.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
		border-color: #C09853;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
		border-color: #A47E3C;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #DBC59E;
	}
	.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
		background-color: #FCF8E3;
		border-color: #C09853;
		color: #C09853;
	}
	.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
		color: #B94A48;
	}
	.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
		color: #B94A48;
	}
	.control-group.error input, .control-group.error select, .control-group.error textarea {
		border-color: #B94A48;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
		border-color: #953B39;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
	}
	.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
		background-color: #F2DEDE;
		border-color: #B94A48;
		color: #B94A48;
	}
	.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
		color: #468847;
	}
	.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea {
		color: #468847;
	}
	.control-group.success input, .control-group.success select, .control-group.success textarea {
		border-color: #468847;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
		border-color: #356635;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
	}
	.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
		background-color: #DFF0D8;
		border-color: #468847;
		color: #468847;
	}
	.control-group.info > label, .control-group.info .help-block, .control-group.info .help-inline {
		color: #3A87AD;
	}
	.control-group.info .checkbox, .control-group.info .radio, .control-group.info input, .control-group.info select, .control-group.info textarea {
		color: #3A87AD;
	}
	.control-group.info input, .control-group.info select, .control-group.info textarea {
		border-color: #3A87AD;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.control-group.info input:focus, .control-group.info select:focus, .control-group.info textarea:focus {
		border-color: #2D6987;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7AB5D3;
	}
	.control-group.info .input-prepend .add-on, .control-group.info .input-append .add-on {
		background-color: #D9EDF7;
		border-color: #3A87AD;
		color: #3A87AD;
	}
	input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
		border-color: #EE5F5B;
		color: #B94A48;
	}
	input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
		border-color: #E9322D;
		box-shadow: 0 0 6px #F8B9B7;
	}
	.form-actions {
		background-color: #F5F5F5;
		border-top: 1px solid #E5E5E5;
		margin-bottom: 5px;
		margin-top: 10px;
		padding: 9px 10px 10px;
	}
	.form-actions:before, .form-actions:after {
		content: "";
		display: table;
		line-height: 0;
	}
	.form-actions:after {
		clear: both;
	}
	.help-block, .help-inline {
		color: #595959;
	}
	.help-block {
		display: block;
		margin-bottom: 10px;
	}
	.help-inline {
		display: inline-block;
		padding-left: 5px;
		vertical-align: middle;
	}
	.input-append, .input-prepend {
		font-size: 0;
		margin-bottom: 5px;
		white-space: nowrap;
	}
	.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
		font-size: 14px;
	}
	.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
		border-radius: 0 4px 4px 0;
		margin-bottom: 0;
		position: relative;
		vertical-align: top;
	}
	.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
		z-index: 2;
	}
	.input-append .add-on, .input-prepend .add-on {
		background-color: #EEEEEE;
		border: 1px solid #CCCCCC;
		display: inline-block;
		font-size: 14px;
		font-weight: normal;
		height: 20px;
		line-height: 20px;
		min-width: 16px;
		padding: 4px 5px;
		text-align: center;
		text-shadow: 0 1px 0 #FFFFFF;
		width: auto;
	}
	.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn {
		border-radius: 0 0 0 0;
		vertical-align: top;
	}
	.input-append .active, .input-prepend .active {
		background-color: #A9DBA9;
		border-color: #46A546;
	}
	.input-prepend .add-on, .input-prepend .btn {
		margin-right: -1px;
	}
	.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
		border-radius: 4px 0 0 4px;
	}
	.input-append input, .input-append select, .input-append .uneditable-input {
		border-radius: 4px 0 0 4px;
	}
	.input-append input + .btn-group .btn, .input-append select + .btn-group .btn, .input-append .uneditable-input + .btn-group .btn {
		border-radius: 0 4px 4px 0;
	}
	.input-append .add-on, .input-append .btn, .input-append .btn-group {
		margin-left: -1px;
	}
	.input-append .add-on:last-child, .input-append .btn:last-child {
		border-radius: 0 4px 4px 0;
	}
	.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
		border-radius: 0 0 0 0;
	}
	.input-prepend.input-append input + .btn-group .btn, .input-prepend.input-append select + .btn-group .btn, .input-prepend.input-append .uneditable-input + .btn-group .btn {
		border-radius: 0 4px 4px 0;
	}
	.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
		border-radius: 4px 0 0 4px;
		margin-right: -1px;
	}
	.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
		border-radius: 0 4px 4px 0;
		margin-left: -1px;
	}
	.input-prepend.input-append .btn-group:first-child {
		margin-left: 0;
	}
	input.search-query {
		border-radius: 15px 15px 15px 15px;
		margin-bottom: 0;
		padding-left: 14px;
		padding-right: 14px;
	}
	.form-search .input-append .search-query, .form-search .input-prepend .search-query {
		border-radius: 0 0 0 0;
	}
	.form-search .input-append .search-query {
		border-radius: 14px 0 0 14px;
	}
	.form-search .input-append .btn {
		border-radius: 0 14px 14px 0;
	}
	.form-search .input-prepend .search-query {
		border-radius: 0 14px 14px 0;
	}
	.form-search .input-prepend .btn {
		border-radius: 14px 0 0 14px;
	}
	.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-search .hide, .form-inline .hide, .form-horizontal .hide {
		display: none;
	}
	.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
		display: inline-block;
	}
	.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
		margin-bottom: 0;
	}
	.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
		margin-bottom: 0;
		padding-left: 0;
		vertical-align: middle;
	}
	.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
		float: left;
		margin-left: 0;
		margin-right: 3px;
	}
	.control-group {
		margin-bottom: 10px;
	}
	legend + .control-group {
		margin-top: 20px;
	}
	
	
	.form-search input,
	.form-inline input,
	.form-horizontal input,
	.form-search textarea,
	.form-inline textarea,
	.form-horizontal textarea,
	.form-search select,
	.form-inline select,
	.form-horizontal select,
	.form-search .help-inline,
	.form-inline .help-inline,
	.form-horizontal .help-inline,
	.form-search .uneditable-input,
	.form-inline .uneditable-input,
	.form-horizontal .uneditable-input,
	.form-search .input-prepend,
	.form-inline .input-prepend,
	.form-horizontal .input-prepend,
	.form-search .input-append,
	.form-inline .input-append,
	.form-horizontal .input-append {
	  display: inline-block;
	  *display: inline;
	  margin-bottom: 0;
	  vertical-align: middle;
	  *zoom: 1;
	}
	
	.form-search .hide,
	.form-inline .hide,
	.form-horizontal .hide {
	  display: none;
	}
	
	.form-search label,
	.form-inline label,
	.form-search .btn-group,
	.form-inline .btn-group {
	  display: inline-block;
	}
	
	.form-search .input-append,
	.form-inline .input-append,
	.form-search .input-prepend,
	.form-inline .input-prepend {
	  margin-bottom: 0;
	}
	
	.form-search .radio,
	.form-search .checkbox,
	.form-inline .radio,
	.form-inline .checkbox {
	  padding-left: 0;
	  margin-bottom: 0;
	  vertical-align: middle;
	}
	
	.form-search .radio input[type="radio"],
	.form-search .checkbox input[type="checkbox"],
	.form-inline .radio input[type="radio"],
	.form-inline .checkbox input[type="checkbox"] {
	  float: left;
	  margin-right: 3px;
	  margin-left: 0;
	}
	
	.control-group {
	  margin-bottom: 10px;
	}
	
	legend + .control-group {
	  margin-top: 20px;
	  -webkit-margin-top-collapse: separate;
	}
	
	.form-horizontal .control-group {
	  margin-bottom: 10px;
	  *zoom: 1;
	}
	
	.form-horizontal .control-group:before,
	.form-horizontal .control-group:after {
	  display: table;
	  line-height: 0;
	  content: "";
	}
	
	.form-horizontal .control-group:after {
	  clear: both;
	}
	
	.form-horizontal .control-label {
	  float: left;
	  width: 160px;
	  padding-top: 5px;
	  text-align: right;
	  font-weight:bold;
	}
	
	.form-horizontal .controls {
	  *display: inline-block;
	  *padding-left: 20px;
	  margin-left: 180px;
	  *margin-left: 0;
	}
	
	.form-horizontal .controls:first-child {
	  *padding-left: 180px;
	}
	
	.form-horizontal .help-block {
	  margin-bottom: 0;
	}
	
	.form-horizontal input + .help-block,
	.form-horizontal select + .help-block,
	.form-horizontal textarea + .help-block,
	.form-horizontal .uneditable-input + .help-block,
	.form-horizontal .input-prepend + .help-block,
	.form-horizontal .input-append + .help-block {
	  margin-top: 10px;
	}
	
	.form-horizontal .form-actions {
	  padding-left: 180px;
	}
	
	.form-horizontal .none-input-textbox {
		float: left;
		padding-top: 5px;
	}
	input[readonly] {
		border:none;
		background-color:#FFF;	
		box-shadow:none;
	}
	
	textarea{
		width:300px;
	}
	
	.recaptcha_only_if_privacy {
		display:none;
	}

    @media only screen and (max-width: 767px) {
		.form-horizontal .controls {
		  	margin-left: 0;
		}
		
		.form-horizontal .control-label {
		  	float: none;
		  	text-align: left;
		}
		
		.form-horizontal .control-group {
			margin-left:20px;
		}

		input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], textarea, select {
			width:230px;
		}
			
		.form-horizontal .form-actions {
		  	padding-left: 10px;
		}

	}
	