<div class="twelve columns alpha">
    <div id="content">
        <h1 class="remove-bottom">Change My Password</h1>
        <hr>

        <form id="change_my_password" class="form-horizontal">
            <div class="alert alert-{{message.type}}" ng-show="message.visible">{{message.text}}</div>

            <fieldset>
                <text type="password" ng-model="doc.current_password" req>Current Password:
                </text>
                <text type="password" ng-model="doc.password" req>New  Password:
                </text>
                <text type="password" ng-model="doc.password_confirmation" req>Confirm New Password:
                </text>

                <div id="form-response" style="display:none;"></div>
                <div class="form-actions">
                    <button ng-click="save()">Change Password</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
