<div class="twelve columns alpha">
    <div id="content">
        <h1 class="remove-bottom">Edit My Profile</h1>
        <hr>


        <form id="edit_my_profile" class="form-horizontal" enctype=multipart/form-data">
            <fieldset>
                <text ng-model="doc.login" req>User name:
                </text>
                <text ng-model="doc.email" req>Email:
                </text>
                <text ng-model="doc.first_name" req>First Name:
                </text>
                <text ng-model="doc.last_name" req>Last Name:
                </text>
                <text ng-model="doc.primary_phone" req>Primary Phone:
                </text>
                <text ng-model="doc.secondary_phone" req>Secondary Phone:
                </text>

                <div id="form-response" style="display:none;"></div>
                <div class="form-actions">
                    <button ng-click="save()">Update Profile</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
